.contactDetail{
    width: 40rem;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    border: 1px solid #333;
    box-shadow: 1px 3px 10px 1px rgba(114, 52, 52, 0.479);
}